#app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;

    align-items: flex-start;
}

main {
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 30px 20px;
    width: auto;
    align-items: center;
}

table {
    /* border: 1px solid black; */
    text-align: center;
}

td, th {
    width: 200px;
}

button {
    padding: 5px 2px;
    border: 0;
    margin-top: 30px;
    background: #7d40e7;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.5s;
    margin-right: 20px;
}